body {
  background-color: #f2f2f2;
    font-family: "Arial";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    /*font-family: "Raleway";*/
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	/*background-color: #34495e;*/
    /*background-color: #70a0e7;*/
    background-image: url(../img/bg2.jpg);
	/*padding-top: 100px;*/
    margin: 0;
        /*background-image:         url('images/overlay.png'),          url('../images/header2.jpg');*/
        background-position: center center;
        background-size: cover;
        background-repeat: repeat;
        padding: 8em 0 2em 0;
        text-align: center;
        color: #fff;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 40px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 18px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* intro Wrap */

#intro {
	/*padding-top: 50px;
	border-top: #bdc3c7 solid 5px;*/
    padding-top: 75px;
    border-top: #bdc3c7 solid 0px;
}

#features {
	/*padding-top: 50px;
	padding-bottom: 50px;*/
    padding-top: 20px;
    padding-bottom: 40px;
}

#features .ac a{
	font-size: 20px;

}

#features h1 {
    margin-bottom: 20px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;
}

#showcase h1 {
	color: white;
}

#footerwrap {
	/*background-color: #70a0e7;*/
    background-color: #6abb22; /*5cb85c*/
    background-image: url(../img/bg3.jpg);
    
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}

/* CSS Cesar --------------------------------------------------------*/

.img-responsive {
  display: inline;
  height: auto;
  max-width: 100%;
}

body {
    padding-top: 0px;
}

.btn {
    min-width:100px;
    /*margin-top: 10px;*/
}

.btn2 {
    margin-top: 10px;
}

.btn2b {
    margin-top: 20px;
}

.form1 {
    /*width: 340px;*/
    margin: 0 auto;
}


table {
  /*width: 600px;*/
  background-color: transparent;
  margin: 0 auto;
  margin-bottom: 20px;
}

.registro {
  margin-bottom: 20px;
}

a {
    color: #70a0e7;
}

/* CSS Prueba--------------------------------------------------------*/

body {
    background : #EEE;
    font-size : 13px;
    margin : auto;
    font-family: "Arial";
    font-weight: 300;
    color: #555;

}

a {
    color: gray;
    text-decoration: none;
}

.panel {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

/* /CSS Prueba--------------------------------------------------------*/

/* style.css ---------------------------------------------------------*/

#content {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #FFF;   
    border: 1px solid #CCC;
}

#content2 {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #FFF;   
    border: 1px solid #CCC;
}

h1 {
    margin: 0;
}

hr {
    border: none;
    height: 1px; line-height: 1px;
    background: #CCC;   
    margin-bottom: 20px;
    padding: 0;
}

p {
    margin: 0;  
    padding: 0px 0;
}

.clear {
    clear: both;
    line-height: 1px;
    font-size: 1px;
}

a { 
    outline-color: #888;    
}

.jumbotron {
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: inherit;
    background-color: #eee;
}

.panel {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.container .jumbotron {
    background-color: lightgray;
    padding-right: 20px;
    padding-left: 20px;
}

h1, h2, h3 {
margin-top: 10px;
margin-bottom: 10px;
}

.buscar {
    margin-bottom: 10px;
}

.btn3 {
    margin-top: 10px;
}

/* /style.css ---------------------------------------------------------*/

@media (min-width: 768px) {
    #headerwrap h1 {
        margin-top: 30px;
        color: white;
        font-size: 60px; 
    }

    #headerwrap h3 {
        color: white;
        font-size: 25px;
    }
}

@media (min-width: 992px) {
    .btn3 {
        margin-top: 0px;
    }
}


/*@media (max-width: 768px) {
    .img-responsive {
      display: block;
      height: 40px;
      max-width: 100%;
    }
}*/

@media (max-width: 480px) {
  
  .img-responsive2 {
    display: block;
    width: 30%;
    margin:0 auto;
    height: auto;
    }

}

/* /style.css ---------------------------------------------------------*/



/* CSS Cesar End--------------------------------------------------------*/