::-moz-selection { background: #CCCED0; color: #fff; text-shadow: none; }
::selection { background: #CCCED0; color: #fff; text-shadow: none; }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

body .navbar {
    text-align: left;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.vendors a {
	color: #fff;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.vendors a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

a:hover {
  color: #fff;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.blue { color: #19b9e7; }

button.btn.btnPerfil{
  font-size:15px;
  margin-bottom: 5px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.btn-link-3 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #36BFB4;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-3:hover, .btn-link-3:focus, .btn-link-3:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-4 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #36BFB4;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-4:hover, .btn-link-4:focus, .btn-link-4:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-5 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #36BFB4;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-5:hover, .btn-link-5:focus, .btn-link-5:active { outline: 0; opacity: 0.6; color: #fff; }

/***** Top menu *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }

.navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

.navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; color: #fff; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }

.navbar-inverse ul.navbar-nav li .li-social a {
	margin: 0 5px;
	font-size: 28px;
	vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li .li-social a:hover,
.navbar-inverse ul.navbar-nav li .li-social a:focus { border: 0; color: #19b9e7; }

.navbar-brand {
	width: 200px;
	background: url(../img/nt_logo.png) left center no-repeat;
	text-indent: -99999px;
}


/***** Top content *****/

.inner-bg {
    /*padding: 120px 0 170px 0;*/
    padding: 20px 0 50px 0;
}

.top-content .text {
	/*padding-top: 120px;*/
	padding-top: 0px;
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p {
	margin: 20px 0 25px 0;
	font-size: 20px;
}

.top-content .description p {opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.top-content .vendors {
  /*margin-top: 40px;*/
  margin-top: 20px;
  font-size: 50px;
  line-height: 50px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.form-links {
  color: #fff;
  opacity: 0.8;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { height: 60px; margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { margin-top: 12px; }

	/*.inner-bg { padding: 60px 0 110px 0; }*/
	.inner-bg { padding: 0px 0 0px 0; }
	.top-content .text { padding-top: 0; padding-bottom: 60px; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

	.navbar {
	  margin-bottom: 15px;
	}

	.form-box {
		margin-top: 40px;
	}

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important;
    	background-repeat: no-repeat !important;
    	background-size: 123px 49px !important;
    }

}


/***** Modal *****/

.modal-content {
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	text-align: left;
}

.modal-body {
	padding: 0 25px 15px 25px;
}

.modal-body img {
	margin-bottom: 15px;
}

.modal-header {
	padding: 25px 25px 15px 25px;
}

.modal-footer {
	padding: 15px 25px 25px 25px;
}

.modal-header, .modal-footer { border: 0; }

.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-footer button {
	height: 50px;
	margin: 0;
    padding: 0 20px;
	background: none;
	border: 1px solid #888;
	font-size: 16px;
    font-weight: 300;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.modal-footer button:hover { outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; }

.modal-footer button:focus, .modal-footer button:active:focus, .modal-footer button.active:focus { 
	outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-footer button:before {
	background: none;
}

/*.modal-backdrop.in {
  opacity: 0;
}*/

.modal-backdrop {
  z-index: 0;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0px;
}

.icon_phone:before {
  content: "\e090";
}

/***** Screenshots *****/

.screenshots-box {
	/*margin-top: 30px;*/
	margin-top: 0px;
	margin-bottom: 20px;
}

.screenshots-box img {
	display: none;
	/*max-width: 310px;*/
	max-width: 290px;
	/*-moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);*/
}
/*.screenshots-box img.screenshot-img-active { max-width: 310px; display: inline; }*/
.screenshots-box img.screenshot-img-active { max-width: 290px; display: inline; }


.screenshots-nav {
	margin-top: 30px;
}

.screenshots-nav span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 7px;
	background: none;
	border: 2px solid #42bfc2;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.screenshots-nav span.screenshots-nav-item-active { background: #42bfc2; }

.screenshots-box-text {
	margin-top: 40px;
	overflow: hidden;
	text-align: left;
}
.screenshots-box-text:first-child { margin-top: 20px; }
.screenshots-box-left .screenshots-box-text { padding-left: 0; padding-right: 30px; }

.screenshots-box-text-icon {
	float: left;
	width: 76px;
	height: 76px;
	border-bottom: 2px dashed #ccc;
	-moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font-size: 50px;
    color: #aaa;
    line-height: 50px;
    text-align: center;
}

.screenshots-box-text-icon i { vertical-align: middle; }

.screenshots-box-text-icon i:hover {
	-webkit-animation-name: rotate;
	-webkit-animation-duration: .4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate;
	-moz-animation-duration: .4s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-ms-animation-name: rotate;
	-ms-animation-duration: .4s;
	-ms-animation-iteration-count: 1;
	-ms-animation-timing-function: linear;
	animation-name: rotate;
	animation-duration: .4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
@-ms-keyframes rotate { from { -ms-transform: rotate(0deg); } to { -ms-transform: rotate(360deg); } }
@-moz-keyframes rotate { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate {	from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes rotate {	from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.screenshots-box-text h3 {
	float: right;
	width: 85%;
	margin-top: 0;
	padding: 0 0 10px 0;
	font-size: 30px;
    font-weight: 300;
    color: #42bfc2;
    line-height: 34px;
}
.section-container-full-bg .screenshots-box-text h3 { color: #fff; }

.screenshots-box-text-description {
	float: right;
	width: 85%;
	font-size: 18px;
    line-height: 32px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.sr-only2 {
  position: relative;
  width: auto;
  height: 35px;
}

label {
  font-weight: normal;
}

.btn2 {
	margin-top: 30px;
}

.jumbotron {
	padding: 20px;
	text-align: left;
	font-size: inherit;
	font-weight: 300;

}

.jumbotron h1 {
	font-size:  38px;
}

.jumbotron h3 {
	color: inherit;
	margin-top: 5px;
	margin-bottom: 15px;
}

@media screen and (min-width: 768px){
	.container .jumbotron {
	    padding-right: 35px;
	    padding-left: 35px;
	}
}

.container2 {
	padding: 0px;
}


@media (min-width: 768px) {
	.navbar .container .navbar-brand { margin-left: 0px;}
}


@media (max-width: 767px) {
	.navbar-brand {
		height: 60px;
		margin-left: 30px;
	}
}

.btn3 {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #19b9e7;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

button.btn4 {
  background: #36BFB4;
}

.img-responsive {
	margin-top: 8px;
	margin-left: 8px;
}

@media (max-width: 1199px) {
  .table-responsive {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
    background-color: #fff;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

p {
    margin: 0 0 5px;
}

/***** Carousel-indicators *****************************************************/

.carousel-indicators {
  position: absolute;
  bottom: -45px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 7px;
  text-indent: -999px;
  cursor: pointer;
  border: 2px solid #42bfc2;
  border-radius: 12px;
}

.carousel-indicators .active {
  width: 18px;
  height: 18px;
  margin: 0 7px;
  background-color: #42bfc2;
}

@media screen and (min-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: -60px;
  }
}

/***** End Carousel-indicators *****************************************************/

.carousel-inner img {
	margin: auto;
}

.btn-registrate {
  padding: 0px;
  margin-top: 15px;
}

abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 0px dotted #999999;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #19b9e7;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-1.btn-link-1-facebook {
    background: #4862a3;
}

.btn-link-1.btn-link-1-google-plus {
    background: #dd4b39;
}

.btn-social {
  height: 50px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
}

.btn-google-plus {
  vertical-align: middle;
  /*padding: 13px;*/
  text-align: center;
  border-color: rgba(0,0,0,0);
}

.btn-social :first-child {
  border-right: 0px;
  padding: 8px 0 0 15px;
  /*left: 10px;
  line-height: 53px;*/
}

/* ///// Panel ///////////////////////////////////////////////////////////////////////////// */


.panel {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
}

 .huge {
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-green .panel-heading {
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-green2 .panel-heading {
    color: #fff;
    background-color: #AAB300;
}
.panel-green2 a {
    color: #AAB300;
}

.panel-green2 a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #D63426;
}

.panel-red .panel-heading {
    color: #fff;
    background-color: #D63426;
}

.panel-red a {
    color: #D64F2C;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-red2 .panel-heading {
    color: #fff;
    background-color: #EB99A9;
}
.panel-red2 a {
    color: #EB99A9;
}

.panel-red2 a:hover {
    color: #b52b27;
}

.panel-blue .panel-heading {
    color: #fff;
    background-color: #3EC8E5;
}
.panel-blue a {
    color: #3EC8E5;
}

.panel-blue a:hover {
    color: #006eff;
}

.panel-blue2 .panel-heading {
    color: #fff;
    background-color: #68ACE5;
}
.panel-blue2 a {
    color: #68ACE5;
}

.panel-blue2 a:hover {
    color: #006eff;
}

.panel-yellow .panel-heading {
    color: #fff;
    background-color: #EA7125;
}

.panel-yellow a {
    color: #EA7125;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-yellow2 .panel-heading {
    color: #fff;
    background-color: #F3BD48;
}

.panel-yellow2 a {
    color: #F3BD48;
}

.panel-yellow2 a:hover {
    color: #df8a13;
}

text-right{
    text-align:right;
}

.panel-heading{
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

.panel-footer {
    padding: 0px 0px;
    // background-color: #68ACE5;
    border-top: 1px solid #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* Pamel End ---------------------------------------------------------*/

.jumbotron {
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: inherit;
    background-color: #eee;
}

.container .jumbotron {
    // background-color: lightgray;
    padding-right: 20px;
    padding-left: 20px;
}

h1, h2, h3 {
margin-top: 10px;
margin-bottom: 10px;
}

.btn3 {
    margin-top: 10px;
}

@media (min-width: 768px) {
    #headerwrap h1 {
        margin-top: 30px;
        color: white;
        font-size: 60px;
    }

    #headerwrap h3 {
        color: white;
        font-size: 25px;
    }
}

@media (min-width: 992px) {
    .btn3 {
        margin-top: 0px;
    }
}

/*@media (max-width: 768px) {
    .img-responsive {
      display: block;
      height: 40px;
      max-width: 100%;
    }
}*/

// @media (max-width: 480px) {

//   .img-responsive2 {
//     display: block;
//     width: 30%;
//     margin:0 auto;
//     height: auto;
//     }
// }

@media (max-width: 1200px) {

  // .img-responsive2 {
  //   display: block;
  //   width: 30%;
  //   margin:0 auto;
  //   height: auto;
  //   }
    input[type="text"], [type="date"], [type="email"], [type="password"], [type="number"], [type="week"], [type="month"], textarea, textarea.form-control {
    width: 100%;
    }
    select {
        width: 100%;
    }
    .input-group {
        display: inherit;
    }
}

.form-inline .input-group {
    display: table;
}

/***** Dropdown *****************************************************/

.dropdown-menu {
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
  color: #fff;
  // background-color: #68ACE5;
    .divider {background-color: #fff;}
}

.colorblue    {background-color: #3EC8E5;}
.colorblue2   {background-color: #68ACE5;}
.colororange  {background-color: #EA7125;}
.coloryellow  {background-color: #F3BD48;}
.colorgreen   {background-color: #5cb85c;}
.colorgreen2  {background-color: #AAB300;}
.colorred     {background-color: #D63426;}
.colorred2    {background-color: #EB99A9;}

/* CSS Cesar End--------------------------------------------------------*/

.labelVerDetalles {
  padding: .2em .6em .3em;
  font-weight: bold;
}

.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 5px;
}

.right {
  float: right;
  display: table-cell;
}


/* CSS Cesar End--------------------------------------------------------*/