$primary-color: #fff;
$color1: #68ACE5;
$color2: #F3BD48;
$color3: #AAB300;
$color4: #EB99A9;


.dropdown-menu {
  color: $primary-color;
}

.color1 {background-color: $color1;}
.color2 {background-color: $color2;}
.color3 {background-color: $color3;}
.color4 {background-color: $color4;}