.dropdown-menu {
  color: #fff; }

.color1 {
  background-color: #68ACE5; }

.color2 {
  background-color: #F3BD48; }

.color3 {
  background-color: #AAB300; }

.color4 {
  background-color: #EB99A9; }

/*# sourceMappingURL=styleSass.css.map */
