<div class="ui language floating dropdown link item" id="languages">
  <i class="world icon"></i>
  <div class="text">English</div>
    <div class="menu inverted transition hidden">
        <div class="header">Search Languages</div>
        <div class="ui icon search input">
          <i class="search icon"></i>
          <input type="text" placeholder="Search languages...">
        </div>
        <div class="scrolling menu inverted">
          <div class="item active selected" data-percent="100" data-value="en" data-text="English" data-english="English">
            <span class="description">English</span>
            English
          </div>
          <div class="item" data-percent="94" data-value="es" data-text="Español" data-english="Spanish">
            <span class="description">Español</span>
            Spanish
          </div>
      </div>
    </div>
</div>

