
@media (min-width: 992px) and (max-width: 1199px) {

	.more-features-box-text { margin-top: 30px; padding-left: 0; }
	.more-features-box-text:first-child { margin-top: 0; }

	.great-support-box-text-left { padding-right: 0; }
	.great-support-box-text-left:first-child { margin-top: 0; }

}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }

	.more-features-box { float: none; width: auto; }
	.more-features-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 50px; }
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }

	.great-support-box { float: none; width: auto; }
	.great-support-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.great-support-box-text-left { padding-right: 0; }

}

@media (max-width: 767px) {

	.navbar.navbar-no-bg { background: #444; }
	.navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse ul.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; }

	.inner-bg { padding: 140px 0; }
	.inner-bg2 { padding: 140px 0; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

	.section-description p { padding: 0; }

    .more-features-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 50px; }
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }

	.great-support-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.great-support-box-text-left { padding-right: 0; }

	.footer-social a { margin: 5px; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }
	h3 { font-size: 24px; }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	/* Styles */
	.inner-bg {
	    padding: 180px 0;
	}
}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
    .navbar-brand {
    	// background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 72px 43px !important;
    	background-image: url(../img/logo.svg) !important; background-repeat: no-repeat !important; background-size: 200px !important;
    }

}

/* Media-Queries CESAR ***************************************************** */

@media screen and (max-width: 996px) {
	.navbar-brand {
		// width: 72px;
		width: 168px;
		height: 60px;
		background: url(../img/logo2.svg) left center no-repeat;
		text-indent: -99999px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-brand {
		// width: 72px;
		width: 230px;
		height: 60px;
		background: url(../img/logo.svg) left center no-repeat;
		text-indent: -99999px;
	}
}


@media (max-width: 415px) {

	.home h1 {
		font-size: 38px;
		line-height: 42px;
	 }

	 h1, h2 {
		font-size: 32px;
		line-height: 40px;
	 }

	 .form-box {
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-top: 20px;
	}

	.form-bottom {
		padding: 10px 10px 20px 10px;
		background: #eee;
		-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
		text-align: left;
	}
}

@media (max-width: 715px) {

	.inner-bg {
	    padding: 80px 0;
	}

}

@media screen and (max-width: 558px) {
	.app-store-links-footer-wrapper .app-store-footer-link:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
	}
}


// @media (min-width: 768px) {

// 	.navbar-brand {
// 		// width: 72px;
// 		width: 150px;
// 		height: 60px;
// 		background: url(../img/logo2.svg) left center no-repeat;
// 		text-indent: -99999px;
// 	}

// }



// @media (min-width: 768px) and (max-width: 1000px) {
//    .navbar-collapse.collapse {
//        display: none !important;
//    }
//    .navbar-toggle{
//         display: block !important;
//    }
//    .navbar-header{
//         float: none;
//    }
// }


/* Media-Quiiries CESAR ***************************************************** */