﻿<body style="margin: 10px;">
<div style="width: 640px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
<div align="center"><img src="http://4rapiddev.com/wp-includes/images/logo.jpg" style="height: 97px; width: 413px"></div>

<table border="1">
<tr>
<td colspan="2"><h3>This is a html content with utf-8 encoding</h3></td>
</tr>
<tr><td colspan="2">Hôm qua đến trường, dắt tay từng bước ... </td></tr>
<tr><td colspan="2">You can place whatever you want include HTML tag as well as style sheet and images.</td></tr>
<tr>
	<td></td>
	<td>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Fusce non orci id odio fringilla posuere.</li>
			<li>Nullam ut massa tortor, eget rhoncus neque.</li>
			<li>Duis varius aliquet neque, elementum vestibulum lorem tincidunt scelerisque.</li>
			<li>...</li>
		</ul>
	</td>
</tr>
<tr>
	<td>Author:</td>
	<td>Hoan Huynh</td>
</tr>
<tr>
	<td>Contact:</td>
	<td><a href="mailto:hoan@4rapiddev.com">hoan at 4rapiddev.com</a></td>
</tr>
<tr>
	<td>Website:</td>
	<td><a href="4rapiddev.com">4rapiddev.com</a></td>
</tr>
</table>

</div>
</body>
